.App {
  padding: 0.3rem 1.1rem;
  max-width: 1440px;
  margin: auto;
}

.page-heading {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.credits {
  text-align: center;
}

@media (min-width: 701px) {
  .app-holder {
    display: grid;
    grid-template-columns: 2fr 18fr;
    grid-gap: 1rem;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .launcher-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 1rem;
  }
}
@media (min-width: 1025px) {
  .launcher-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0rem 1rem;
  }
}
